.hero-section {
  padding: 200px 0;
  background-color: rgba(0, 0, 0, 0.5);
}
.hero-title {
  font-size: 44px;
  line-height: 1.5;
  color: white;
  text-align: center;
}
.hero-btn {
  display: block;
  margin: 0 auto;
  padding: 10px 32px;
  border-radius: 4px;
  background-color: blue;
  color: white;
}
